nav{
    position:sticky;
    top:0px;
    background-color: white;
    z-index:2;
}

.vertical-line{
    border-left:2px solid rgb(242,242,242);
    height:60px;

}
.nav-delivery>h5{
font-weight:900;
margin-top:10px;
}
.nav-delivery>p{
    font-size:13px;
}
#nav-search{
    border-radius:10px;
    background-color:#f8f8f8;
    border:1px solid #f2f2f2;
    padding:10px;

}
#nav-search>input{
    border:none;
    width:40vw;
    height:50px;
    background-color:transparent;
}
.cart-btn{
    border-radius: 3px !important;
    font-weight:600 !important;
}
#categories-1{
    display:flex;
    flex-wrap:wrap;
    padding-inline: 8vw;
    justify-content: space-around;
}
#scroll-container{
    width:81vw;
    margin:auto;
    
}
.list{
    white-space: nowrap;
    overflow-x: scroll;

}
.list::-webkit-scrollbar{
    display: none;
}
.list>img{
    display:inline-block;
    margin:10px;
}
.category{
    width:81vw;
    margin:auto;
}
.my-card{
    width:220px;
    box-sizing: border-box;
    border-radius:15px !important;
    white-space:wrap ;
}
.my-card>img{
    display:inline-block;
    margin: 20px;
}
.time{
    background-color:#f2f2f2;
    display:flex;
    font-weight:700;
    font-size:9px;
    color:rgb(54,54,54);
    width:fit-content;
    padding:3px;
    border-radius:5px;
}
.time>h6{
    padding-top:6px;
    padding-right:10px;
}
.timer{
    font-size:15px;
    padding:10px;
}
.product_weight{
    font-size:13px;
    color:#666666;
}
.row-3{
    font-weight:600;
}
.list>div{
    display:inline-block;
    margin:auto;
    
}
.off{
    position:absolute;
    top:0;
    left:3;
    width:40px;
    background-color:#538CEE;
    text-align:center;
    font-size:13px;
    font-weight:900;
    color:white;
}
footer{
    width:82vw;
    margin:auto;
}
#footer-3{
    color:#B3B3B3;
    font-size:15px;
    text-align:justify;
    padding-left:10px;
}
#footer-2{
    display:flex;
    font-size:13px;
    text-align:justify;
    color:#B3B3B3;
    background-color:#FCFCFC;
    border:1px solid #FCFCFC;
    padding-top:20px;
    padding-bottom:20px;
}
#footer-2-col1{
    flex:1;
    padding-inline:10px;
    padding-top:15px;
}
#footer-2-col2>h6{
    color:#B3B3B3;
    padding-top:15px;
}
#footer-2-col2>h6:hover{
    text-decoration: underline;
}
.some-box{ 
    width:120px;
    height:40px;
    border-radius:10px;
    justify-content:center;
    margin:auto;
    text-align:center;
    color:white;
    display:flex;
    align-items:center;
    background-color:#213a50;

}
.some-box:hover{
    box-shadow:3px 3px 10px black;
    font-size:15px;
    transition: 0.2s ease-in;
}
#footer-2-col2{
    flex:1;
    padding-inline:10px;
    display:flex;
    
}
#footer-2-col3{
    flex:1;
    display:flex;
    justify-content:space-between;
}
.social-icon{
    width:50px;
    height:50px;
    background-color:black;
    color:white;
    display:flex;
    font-size:30px;
    justify-content:center;
    align-items:center;
    margin:auto;
    border-radius:50%;
    
}
.social-icon:hover{
    color:black;
    background-color: white;
    box-shadow:3px 3px 15px black;
}
#footer-1{
    display:flex;
    margin-top:30px;
}
.footer-table-1{
    flex:2;
}
.footer-table-2{
    flex:3;
    
}
table{
    width:100%;
}
td{
    color:#666666;
    line-height: 30px;
}
td:hover{
    text-decoration:underline;
}

@media screen and (max-width:650px) {
    #hero-section{
        display:none !important;
    }
    nav,#footer-1{
        display: flex !important;
        flex-direction:column !important;
    }
    .vertical-line{
        display: none ;
    }
    #nav-search{
        width:95vw ;
    }
    #nav-search>input{
        width:85vw ;
    }
    
    .footer-table-2{
        margin-top:30px ;
    }
    #span1{
        margin-left:-15px;
    }
    td{
        padding-left:15px;
    }
    #footer-2{
        display:block;
    }
    #footer-2>div{
        padding-bottom:20px;
    }
    nav{
        position:static !important;
        left:0px;
        background-color: white;
        z-index:2 !important;
    }
}